<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div>
  <nav class="navbar navbar-expand navbar-dark bg-info">
    <a href="" class="navbar-brand">User Management</a>
    <div class="navbar-nav ms-auto">
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add User</a>
      </li>
      <li class="nav-item">
        <a routerLink="users" class="nav-link">Users List</a>
      </li>

    </div>
  </nav>
  <div class="container animate__animated animate__fadeInUp">
    <div class="user text-center">
      <span class="material-symbols-outlined">
        account_circle
        </span>
      </div>
    <h4 class="text-center text-info">User Management Application</h4>
    <br/>
   
    
    <router-outlet></router-outlet>
  </div>
</div>