<div class="container text-center animate__animated animate__backInLeft">
<div class="list row text-center">
 
    <div class="col-md-6 gx-5">
      <h4>User List</h4>
      <table class="table table-dark">
        <thead>
          <tr>
            
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Salary</th>
            <th scope="col">Address</th>
          </tr>
        </thead>
        </table>
      <ul class="list-group">
        <li
        class="list-group-item text-center"
        *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
        (click)="setActiveUser(user, i)">
        <table class="table table-info text-center w-100">
        <tbody class="text-center">
         <tr>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.salary}}</td>
            <td>{{user.address}}</td>
          </tr>
          </tbody>
        </table>
</li>

      </ul>
 
    </div>
    <div class="col-md-6 animate__animated animate__backInRight">
      <app-user-details [viewMode]="true" [currentUser]="currentUser">
    </app-user-details>
    </div>
  </div>
</div>